<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits App</title>
  </head>
  <body>
    <h1>Welcome to the Fruits app!</h1>
    <p>An app for collecting your favorite fruits.</p>
    <!-- views/index.ejs -->
    <a href="/fruits">Browse Fruits</a>
    <!-- views/fruits/index.ejs -->
    <a href="/fruits/new">Add New Fruit</a>
    <!-- views/fruits/new.ejs -->
    <a href="/fruits/">Back to Fruits</a>



  </body>
</html>
